.component {
    border-radius: 10px;
    padding: 0.5rem;
    color: white;
}

.count-value {
    margin: 0 0.2rem;
}

.component-body {
    border: 1px solid white;
    min-height: 200px;
    min-width: 200px;
    padding: 0.5rem;
}

.appWithEffect {
    background-color: #518FF0;
}

.childWithEffect {
    background-color: #ED3B9F;
}

.subChildWithEffect {
    background-color: #EDB33B;
}

.testEffect {
    background-color: #3ADB32;
    color: #4E864C
}

/* #4E864C */